03-AspDotCore/HelloAspDotNetCore/.vs/
03-AspDotCore/HelloAspDotNetCore/obj/
03-AspDotCore/HelloAspDotNetCore/bin/
03-AspDotCore/RazorPagesBook/.vs/
03-AspDotCore/RazorPagesBook/bin/
03-AspDotCore/RazorPagesBook/obj/
03-AspDotCore/MVCBook/.vs/
03-AspDotCore/MVCBook/bin/
03-AspDotCore/MVCBook/obj/
